<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li> python</li>
    <li>R</li>
    <li> JAVA</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> pandas</li>
    <li>numpy</li>
    <li> sciketlearn</li>
</ol>

| Data Science Tools |
|----------|
| Jupyter Notebook   |
| Python   |
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

<b>Objectives:</b>
<ul>
<li>python</li>
    <li>R</li>
    <li>java</li>
</ul>

## Author 
Mohammed